/*Обнуление*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 25px;
}

/*Стили для демонстрации*/



.wrapper {
	height: 100%;
	padding: 50px;
}

.menu {}
.menu a {
	text-decoration: none;
}
.menu li {
	position: relative;
	list-style: none;
}

.menu__list {
	display: flex;
}
.menu__list> li {
	margin: 0px 25px 0px 0px;
}

.menu__list li:hover .sub-menu__list {
	display: block;
}

.menu__link {
	color: #fff;
}

.sub-menu__list {
	display: none;
	min-width: 300px;
	position: absolute;
	left: 0;
	top: 20px;
	padding: 20px 0px 0px 0px;
}
.sub-menu__list > li {
	background-color: #fff;
}


.sub-menu__list>li:hover .sub-sub-menu__list {
	display: block;
}
.sub-menu__link {
	color: #000;
	display: inline-block;
	padding: 5px 10px;
}

.sub-sub-menu__list {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	min-width: 300px;
	padding: 0px 0px 0px 5px;
}
.sub-sub-menu__list>li {
	background-color: #000
}



.sub-sub-menu__link {
	color: #fff;
	display: inline-block;
	padding: 5px 10px;

}